/* www.flexboxfroggy.com */

.container {
    /* задаём начало, по умолчанию главной осью является Х */
    display: flex;
    height : 98vh;

    /* при переполнении для переноса элементов на новую строку */
    flex-wrap: wrap;

    /* изменение оси */
    flex-direction: column;

    /* выравнивание элементов относительно главной оси */
    justify-content: center;

    /* выравнивание элементов относительно второстепенной оси */
    align-items: center;
}

.item {
    width     : fit-content;
    height    : fit-content;
    /* задаём размер элемента относительно главной оси в любых единицах измерения*/
    flex-basis: 33%;

    /* задаёт порядок следования элементов в контейнере (прописывается в элементе) */
    order: 3;

    /* выравниваем отдельно взятый элемент */
    align-self: flex-end;

    /* как быстро будет ужиматься элемент */
    flex-shrink: 2;

    /* сколько пространства будет занимать элемент на экране */
    flex-grow: 4;
}